body {
    margin: 0;
    padding: 0;
    background-color: #A9FFCC; 
    font-family: 'Montserrat', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    margin: 5% auto;
    background-color: #A9FFCC;
    border-radius: 15px;
}

#app-header {
    color: #E94A68;
    font-size: 3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#list-form {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#list-value {
    width: 30vw;
    height: 7.5vh;
    padding-left: 5vw;
    font-size: 1.25em;
    background-color: #FFFFFF;
    font-weight: 100;
    border: none;
    box-shadow: 2px 2px 10px 1px #E94A68;
    z-index: 3;
    /* border: 0.25px solid #E94A68; */
}

#list-value:focus {
    outline: none;
}

.todo-item {
    width: 33vw;
    padding-left: 2vw;
    height: 10vh;
    font-size: 175%;
    background-color: #FFFFFF;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.25px solid #E94A68;
}

.strike-item {
    width: 33vw;
    padding-left: 2vw;
    height: 10vh;
    font-size: 175%;
    background-color: #FFFFFF;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.25px solid #E94A68;
}

.todo-item div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
}

#list-value::placeholder {
    font-style: italic;
    opacity: 0.35;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#dynamic-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px 1.5px lightgrey;
}

input[type=checkbox] {
    height: 1.5em;
    width: 1.5em;
}

.fas.fa-times {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#leftTab {
    width: 25%;

}

.buttons {
    width: 35vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid #E94A68;
    border-width: 0.125px;
    padding: 1.25% 0;
}

#functionalBtns {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.function-button {
    background-color: #FFFFFF;
    color: #656565;;
    border: none;
    margin: 1.5% 2.5%;
    height: 90%;
    vertical-align: middle;
    border-radius: 5px;
}

.function-button:focus {
    border: 1px solid #E94A68;
    outline: none;
}

#leftTab {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#rightTab {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.todo-label {
    padding-left: 1vw;
    width: 25vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#filler {
    margin-bottom: 5%;
}

.strike-label {
    text-decoration: line-through;
    opacity: 0.5;
    /* width: 25vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

.removed-item {
    display: none;
}

.show-item {
    display: flex;
}

.delete-item {
    display: none;
}

.fa-times {
    font-size: 0.75em;
    margin-right: 5%;
    color: #E94A68;
    opacity: 0;
}

li:hover i[class*="fa-times"] {
    opacity: 1;
}

#author {
    color: #E94A68;
    font-size: 1.1em;
}

#firstPart {
    font-weight: 100;
}

#secondPart {
    font-weight: bolder;
}

.fa-circle {
    font-size: 1.25em;
    color: #E94A68;
}

.fa-check {
    font-size: 0.75em;
    color: #E94A68;
    opacity: 0;
}

.checked {
    opacity: 1;
}