<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300" rel="stylesheet">
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    </head>
    <body>
        <div id="root">
            <h1 id="app-header">Todo List</h1>
            <div id="box-shadow">
                <div id="list-form">
                        <form id="form" autocomplete="off">
                            <input type="text" id="list-value" placeholder="What would you like to do?">
                        </form>
                    </div>
                    <ul id="dynamic-list" style="list-style: none;"></ul>
                    <div id="targetBtn" class="removed-item">
                        <div id="leftTab">
                            <button class="function-button" id="itemTracker"></button>
                        </div>
                        <div id="functionalBtns">
                            <button class="function-button" id="all-button">All</button>
                            <button class="function-button" id="active-button">Active</button>
                            <button class="function-button" id="complete-button">Completed</button>
                        </div>
                        <div id="rightTab">
                            <button class="function-button" id="clear-button">Clear Completed</button>
                        </div>
                </div>
            </div>
            <span id="filler"></span>
            <div id="author">
                <span id="firstSection">Created by </span>
                <span id="secondPart">Andy Brady</span>
            </div>
        </div>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    
    <script src="/todo-list.js"></script>
</html>